body {
  background-color: #2e2e2e;
  display: flex;
  flex-direction: column;
  font-family: 'Yantramanav', sans-serif;
  margin: 0;
  min-height: 100vh;
}

.site-content {
  flex: 1;
}

#header {
  display: flex;
  flex-direction: row;
  height: 70px;
  background-color: white;
  align-items: flex-start;
}

#header-img-div {
  height: 100%;
  background-color: white;
}

#header-img_1 {
  height: 100%;
  object-fit: contain;
}

#header-img_2 {
  display: none;
}

#nav-menu {
  display: flex;
  background-color: white;
  height: 100%;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  padding-right: 30px;
}

.nav-text {
  font-size: 15px;
  color: grey;
  text-decoration: none;
  font-weight: bold;
  padding-left: 75px;
}

#container {
  display: flex;
  align-items: center;
}

.boxes {
  display: flex;
  flex-direction: column;
  flex: 1;
  flex-grow: 2;
  text-align: center;
  height: 505px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.box-header {
  display: flex;
  flex-direction: column;
  background-color: #767676;
  justify-content: space-around;
  height: 70px;
}

.box-tag {
  display:flex;
  flex-direction: row;
  justify-content: space-around;
}

.title-text {
  color: white;
  display:flex;
  flex-direction:row;
  justify-content: center;
  width: 100%;
  font-size: 18px;
  z-index: 2000;
  margin-top: 8px;
}

.tag-text {
  display: flex;
  flex-direction: row;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 12px;
  z-index: 2000;
  margin-bottom: 8px;
}

.box-img {
  max-width: 100%;
  max-height: 100%;
  flex: 1;  
  object-fit: contain;
}

#left-box {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex: 2.25;
}

#left-title {
  display:flex;
  flex-direction:row;
  justify-content: center;
  font-size: 44px;
  font-weight: 900;
  line-height: 80%;
}

.left-child {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}

.left-text {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 20px;
  width: 150px;
}

#up-arrow, #down-arrow {
  font-size: 48px !important;
  color: grey !important;
}

#box-spacer_1 {
  flex: .0675;
}

#box-spacer_2 {
  flex: .0675;
}

.left_button {
  height: 48px;
  width: 150px;
  background-color: #722d91;
  color: white;
  font-size: 20px;
  font-weight: bold;
  margin: 10px;
  border-radius: 30px;
  cursor: pointer;
}

#footer {
   display: flex;
   width: 100%;
   background-color: #141415;
   justify-content: center;
   align-items: center;
   text-align: center;
   height: 180px;
}

#info-container {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fa {
  color: white;
  font-size: 24px !important;
  margin: 8px;
}

.footer-text {
  font-size: 13px;
  color: white;
  text-transform: uppercase;
}

#share {
  display: flex;
  flex-direction: row;
}

@media only screen and (max-width: 1025px) {
  
  body {
    zoom: 2;
  }
  
  #header {
    display: flex;
    justify-content: center;
    height: 120px;
  }
  
  #header-img-div{
    display: flex;
    justify-content: center;
    align-items: center;

  }
  
  #header-img_1 {
    display: none;
  }
  
   #header-img_2 {
    display: flex;
    max-width: 100%;
    height: auto;
    width: auto;
  }
  
  #container {
    flex-direction: column;
    margin: 0;
  }
  
  #nav-menu {
    display: none;
  }
  
  .boxes {
    padding-bottom: 10px;
    margin: 0;
  }
  
  .tag-text {
    font-size: 11px;
  }
  
  #left-box {
    margin: 35px;
  }
  
  #footer {
    flex-direction: column;
    height: 100%;
  }
  
  #info-container {
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    margin: 10px;
  }
  
  .info {
    padding: 35px;
  }
  
}
