 body {
  background-color: #2e2e2e;
  display: flex;
  flex-direction: column;
  font-family: 'Yantramanav', sans-serif;
  margin: 0;
  min-height: 100vh;
}

.site-content {
  flex: 1;
}

header {
  display: flex;
  flex-direction: row;
  height: 70px;
  background-color: white;
  align-items: flex-start;
}

#header-img-div {
  height: 100%;
  background-color: white;
}

#header-img_1 {
  height: 100%;
  object-fit: contain;
}

#header-img_2 {
  display: none;
}

#nav-menu {
  display: flex;
  background-color: white;
  height: 100%;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  padding-right: 30px;
}

.nav-text {
  font-size: 15px;
  color: #767676;
  text-decoration: none;
  font-weight: bold;
  padding-left: 75px;
}

.nav-text:hover {
  color: #E75F41;
}

#container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.boxes {
  display: flex;
  flex-direction: column;
  flex: 1;
  text-align: center;
  margin-top: 13px;
  margin-bottom: 13px;
}

.box-header {
  display: flex;
  flex-direction: column;
  background-color: #767676;
  justify-content: space-around;
  height: 70px;
}

.box-tag {
  display:flex;
  flex-direction: row;
  justify-content: space-around;
}

.title-text {
  color: white;
  display: flex;
  flex-direction:row;
  justify-content: center;
  width: 100%;
  font-size: 20px;
  z-index: 2000;
  margin-top: 8px;
}

.tag-text {
  display: flex;
  flex-direction: row;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 14px;
  z-index: 2000;
  margin-bottom: 8px;
}

.box-img {
  max-width: 100%;
  object-fit: contain;
}

#left-box {
  align-items: center;
  justify-content: space-around;
}

#left-text-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

#left-title {
  display:flex;
  flex-direction:row;
  justify-content: center;
  font-size: 3vw;
  font-weight: 900;
  line-height: 80%;
}

.left-child {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}

.left-text {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 1.25vw;
}

#up-arrow, #down-arrow, #left-arrow, #right-arrow {
  font-size: 3vw !important;
  color: #767676;
}

#left-arrow, #right-arrow {
  display: none;
}

#box-spacer_1 {
  flex: .03;
}

#box-spacer_2 {
  flex: .03;
}

.left_button {
  height: 3vw;
  width: 12vw;
  background-color: #722d91;
  color: white;
  font-size: 1.5vw;
  font-weight: bold;
  margin: 10px;
  cursor: pointer;
}

.left_button:hover {
  background-color: #E75F41;
}

#footer {
   display: flex;
   width: 100%;
   background-color: #141415;
   justify-content: center;
   align-items: center;
   text-align: center;
   height: 180px;
}

#info-container {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fa {
  color: white;
  font-size: 24px !important;
  margin: 20px;
}

.footer-text {
  font-size: 13px;
  color: white;
  text-transform: uppercase;
}

#share {
  display: flex;
  flex-direction: row;
}

.social:hover {
    color: #E75F41;
  }

#share :hover {
  color: #E75F41 !important;
}

@media only screen and (max-width: 1150px) {
  
  body {
    align-items: center;
  }
  
  header {
    flex-direction: column;
    align-items: center;
    height: 100%;
  }
  
  #header-img-div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  
  #header-img_1 {
    display: none;
  }
  
   #header-img_2 {
    display: flex;
    width: 100%;
    padding-top: 10px;
    padding-left: 12.5px;
  }
  
  #nav-menu {
    display: flex;
    justify-content: space-around;
    width: 50%;
    margin-bottom: 10px;
    padding: 0px;
  }
  
  .nav-text {
    padding: 0px;
    font-size: 2vw;
  }
  
  #container {
    flex-direction: column;
    margin: 0;
    width: 75%;
  }
  
  .boxes {
    padding-bottom: 10px;
    margin: 0;
  }
  
  #left-text-box {
    flex-direction: row;
    align-items: flex-end;
    zoom: 1.35;
    height: 90px;
    margin-bottom: 30px;
  }
  
  .title-text {
    padding-bottom: 10px;
  }
  
  #up-arrow, #down-arrow {
  display: none;
}
  
  #left-arrow, #right-arrow {
  display: flex;
}
  
  #footer {
    flex-direction: column;
    height: 100%;
  }
  
  #info-container {
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    margin: 10px;
  }
  
  .info {
    padding: 35px;
  }
  
}
