body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Yantramanav', sans-serif;
  margin: 0;
  background-color: #2e2e2e;
  height: 1950px;
}

header {
  display: flex;
  flex-direction: row;
  height: 80px;
  background-color: white;
  align-items: flex-start;
  width: 100%;
}

#header-img-div {
  display: flex;
  flex: 1;
  height: 100%;
  background-color: white;
}

.header-img_1 {
  height: 100%;
  object-fit: contain;
}

#header-img_2 {
  display: none;
}

#nav-menu {
  display: flex;
  background-color: white;
  height: 100%;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  padding-right: 30px;
}

.nav-text {
  font-size: 15px;
  color: #767676;
  text-decoration: none;
  font-weight: bold;
  padding-left: 75px;
}
#container {
  display: flex;
  width: 75%;
  height: 1450px;
  margin: 20px;
}

.child-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  text-align: center;
  align-items: center;
  height: 100%;
}

#steps-container {
  display: flex;
  width: 60%;
  height: 100%;
}

.boxes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  width: 100%;
}

.text-box {
  position: absolute;
  width: 43.6%;
  color: white;
  z-index: 1000;
  font-weight: bold;
}

.text-box-child {
  position: relative;
  display: flex;
  justify-content: center;
}

.box-title {
  color: white;
  font-size: 52px;
  font-weight: 900;
  line-height: 80%;
}

.tag-text {
  display: none;
  font-size: 18px !important;
  font-weight: 50;
  line-height: 150%;
}

.img-container {
  display: flex;
  flex: 1;
}

.spacer {
  background-color: #2e2e2e;
  height: 20px;
}

.box-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(75%);
}

.boxes:hover .box-img {
  filter: brightness(30%);
}

.boxes:hover .box-title{
  display: none;
}

.boxes:hover .tag-text {
  display: flex;
  flex-direction: column;
  color: white;
  width: 50%;
}

#form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 40%;
  background-color: #141415;
  margin-left: 20px;
}

#contact-form {
  height: 100%;
  width: 100%;
}

.contact-form-top {
  display: flex;
  flex-direction: column;
  height: 85px;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

.services-title-container {
  display: flex;
  justify-content: left;
  text-align: left;
}

.checkbox-container {
  display: flex;
  font-size: 15px;
  background-color: #2e2e2e;
  height: 60px;
}

.check_label {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  text-align: center;
  color: white;
  padding-right: 40px;
  padding-left: 5px;
}

label {
  display: flex;
  justify-content: left;
  align-items: center;
}

.f-title {
  color: white;
  font-size: 19px;
  padding: 5px;
  padding-top: 10px;
}

.f-input {
  padding-left: 7px;
  width: 100%;
  height: 100%;
  background-color: #2e2e2e;
  font-size: 15px;
  border: none;
  color: white;
}

#details {
  height: 180px;
}

#f-details {
  height: 100%;
  width: 100%;
  border: none;
}

.contact-form-bot {
  display: flex;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  z-index: 3000;
}

#buttons {
  display: flex;
  flex-direction: column;
  width: 90%;
}

.input-btn {
  display: flex;
  justify-content: center;
  background-color: #722d91;
  width: 140px;
  height: 36px;
  color: white;
  cursor: pointer;
  font-size: 20px;
  font-weight: 500;
  border-color: #722d91;
}

.input-btn:hover {
  background-color: #E75F41;
}

.file-info {
  z-index: -100;
  position: absolute;
  font-size: 12px;
  color: white;
  text-align: left;
  padding-left: 150px;
}

.input-file {
 display: none;
}

#submit-anchor {
  text-decoration: none !important;
}

#alert {
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 100%;
  width: 100%;
}

#alert-text {
  color: white;
  position: relative;
  font-size: 24px;
  width: 20%;
  margin: 40px;
}

#footer {
   display: flex;
   flex: 1;
   width: 100%;
   background-color: #141415;
   justify-content: center;
   align-items: center;
   text-align: center;
}

#info-container {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fa {
  color: white;
  font-size: 24px !important;
  margin: 8px;
}

.footer-text {
  font-size: 13px;
  color: white;
  text-transform: uppercase;
}

#social {
  display: flex;
  flex-direction: row;
}

#social :hover {
  color: #E75F41 !important;
}

@media only screen and (max-width: 1200px) {
  
  body {
    align-items: center;
    height: 3800px;
  }
  
  header {
    flex-direction: column;
    align-items: center;
    height: auto;
  }
  
  #header-img-div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  
  .header-img_1 {
    display: none;
  }
  
   #header-img_2 {
    display: flex;
    width: 100%;
    padding-top: 10px;
    padding-left: 12.5px;
  }
  
  #nav-menu {
    display: flex;
    justify-content: space-around;
    width: 50%;
    margin-bottom: 10px;
    padding: 0px;
  }
  
  .nav-text {
    padding: 0px;
    font-size: 2vw;
  }
  
  #container {
    flex-direction: column;
    height: 100%;
  }
  
  #steps-container {
    width: 100%;
  }
  
  .text-box {
    width: 75%;
  }
  
  #form-container {
    max-height: 1100px;
    width: 100%;
    margin-left: 0px;
    margin-top: 20px;
  }
  
  .box-title, .tag-text {
    zoom: 1.2;
  }
  
  #footer {
    flex-direction: column;
  }
  
  #info-container {
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    margin: 10px;
  }
  
  .info {
    padding: 35px;
  }
  
}


